@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


/* || General styles */
html,
body {
    min-width: 100vw;
    width: min-content;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fcfcfc;
}

.container {
    margin-top: 3%;
}

.form-check {
    margin: 0px 5px 5px 15px;
}

.tab {
    display: inline-block;
    margin-left: 60px;
}

.tab-bg {
    display: inline-block;
    margin-left: 150px;
}


/* || Side Navigation Menu */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #151515;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav hr {
    border: 0;
    border-top: 2px solid rgb(255, 255, 255);
    margin: 1em 0;
    padding: 0;
}

.sidenav .navbar-brand {
    font-size: 25px;
}

.sidenav a {
    padding: 6px 6px 6px 12px;
    text-decoration: none;
    font-size: 20px;
    color: #dcdcdc;
    display: block;
}

.sidenav a:hover {
    color: #ffffff;
}

.sidenav .active {
    color: #70b6fc;
}

.sidenav a i {
    font-size: medium;
    margin-left: 5px;
}




/* || Dataset-Options Container*/
#datasets-container {
    margin-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#datasets-container {
    min-width: 500px;
}

#select-dataset-label {
    margin-left: 110px;
}

#datasets-container .btn {
    padding: 0;
    height: 30px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0;
    margin-bottom: 0;
}

#datasets-info-container {
    margin-top: 3%;
    margin-bottom: 0;
}

#explanation-check-container{
    display: grid;
    justify-items: center;
}

#explanation-check-container #hide-btn{
    text-align: center;
    color: red;
    min-width: 0;
    width: auto;
    margin-left: 11em;
}

#datasets-info-container .inner-container{
    display: block;
    margin-top: 3em;
    width: 30em;
    justify-items: left;
    background-color: #f9f9f9;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 0 25px rgba(107, 107, 107, 0.193);
}

.inner-container p {
    margin-bottom: 0;
}

.inner-container #exp-form {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 20%;
    align-items: center;
}

#datasets-info-container .inner-container label {
    font-weight: 600;
    font-size: medium;
}

#datasets-info-container label {
    font-weight: 600;
    font-size: large;
}

#datasets-container .select2-container {
    width: 40% !important;
    margin-right: 8px;
}


/* || Main Container for the services*/
.requests-main-container {
    margin-left: 20%;
}



/* || FairER Container*/
#fairer-container {
    margin-top: 8%;
    margin-bottom: 120px;
}

#fairer-container label {
    font-weight: 600;
    font-size: large;
}

.eval-description {
    margin-top: 6.5em;
    background-color: #f9f9f9;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 0 25px rgba(107, 107, 107, 0.193);
}

.eval-description div{
    display: grid;
    gap: 10px;
}

.eval-description h1{
    margin-bottom: 1em;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
}
 
.eval-description h2 {
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: large;
}

.eval-description .accuracy-container, 
.eval-description .eod-container,
.eval-description .spd-container {
    display: block;
}

/* || unfair Container*/
#Unfair {
    margin-top: 3%;
}

#unfair-container {
    margin-top: 8%;
    margin-bottom: 120px;
}

#unfair-container label {
    font-weight: 600;
    font-size: large;
}



/* || Protected Container*/
#protected-tuples {
    margin-top: 3%;
    text-align: center;
    margin-bottom: 120px;
}


#protected-container {
    display: grid;
    justify-content: center;
    margin-top: 2em;
}
#protected-container #tuple-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    margin-top: 5%;
    text-align: left;
}

#protected-container #pair-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    margin-top: 5%;
    text-align: left;
}

#pair-container .btn {
    margin-top: 1em;
}

#pair-container #attr-form {
    justify-self: right;
    background-color: #f4f4f4;
    color: #000000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(44, 44, 44, 0.5);
}

#pair-container #attr-form h2{
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}


#protected-container .form-container {
    width: 70%;
    justify-self: right;
    background-color: #f4f4f4;
    color: #000000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(44, 44, 44, 0.5);
}
#protected-container  .title{
    font-size: larger;
    font-weight: 600;
    margin-bottom: 2em;
}
    
#protected-container #json-upload-form {
    justify-self: left;
    background-color: #f4f4f4;
    color: #000000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(44, 44, 44, 0.5);
}

#protected-container #or-keyword {
    font-weight: 600;
    font-size: x-large;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 1%;
}
#protected-container .btn-link{
    color: rgb(0, 0, 0);
}

#left-table,
#right-table {
    display: block;
}

#json-upload-form label {
    font-size: larger;
    font-weight: 700;
    margin-bottom: 2em;
}

#json-upload-form .btn {
    margin-left: 0;
    margin-right: 0;
}



/* || Navigation Tabs (FairER, Unfair, Protected) */
.nav-tabs {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.nav-tabs button {
    min-width: 180px;
}

.navbar a {
    color: whitesmoke;
}

.active a,
.nav-link {
    color: rgb(50, 133, 211);
}

button {
    max-width: 250px;
}



/* || Swall2 Styles */
.swal2-actions {
    width: 500px !important;
}

.swal2-actions .swal2-confirm {
    margin-right: 1%;
}

.swal2-actions .swal2-cancel {
    margin-left: 1%;
}

#swal2-html-container {
    text-align: left;
}



/* || Tabulator Styles*/
.tabulator .tabulator-footer .tabulator-page.active {
    color: white;
}

.tabulator-headers .tabulator-col {
    background-color: rgb(64, 105, 144) !important;
    color: white !important;
}

.tabulator-footer-contents button {
    min-width: 50px !important;
}


/* || Upload Dataset */
#upload-dataset{
    width: 60%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#upload-dataset .mb-3 {
    margin-top: 3%;
}

#upload-dataset input {
    width: 50%;
}

#upload-instructions {
    background-color: rgb(248, 245, 227);
    border-radius: 25px;
    padding: 3% 10%;
}

#dataset-upload-form label {
    margin: 0%;
    font-weight: 600;
}
#dataset-upload-form button {
    margin-left: 0;
}

#upload-instructions li a {
    color: #000000;
}

#upload-dataset-btn, #dataset-statistics-btn, #delete-dataset-btn {
    width: 30%;
}
#upload-dataset-btn, #delete-dataset-btn {
    margin-left: 0%;
}



/* || Change Protected Condition */
.change-cond-container {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    gap: 4em;
    background-color: #f4f4f4;
    padding: 2em;
    box-shadow: 0 0 25px rgba(44, 44, 44, 0.5);
    border-radius: 10px;
}
#left-tpl,
#right-tpl,
#right-func-select,
#left-func-select {
    margin-bottom: 1em;
} 
#logical-op-select{
    border-radius: 5px;
    height: 2em;
}
#protected-container .button-container {
    margin-top: 1em;
}

/* || Buttons Styles */
#btnDropUnfair,
#btnDropFair {
    border-radius: 0.25rem 0 0 0.25rem;
}

.btn-group {
    justify-content: center;
}

.container button {
    margin: 0.5em;
    min-width: 180px;
}



/* || API Manual Styles */
.api-info-container {
    margin-left: 200px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}

.main-section .method-type {
    font-size: small;
    display: inline-block;
    text-align: center;
    width: 40px;
    background-color: #02794b;
    color: #ffffff;
    border-radius: 10px;
}

.main-section .method-type:hover {
    background-color: #004128;
}

.main-section header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 10px;
    align-items: center;
}

.response {
    margin: 30px;
    display: grid;
    background-color: #1c1c1c;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(44, 44, 44, 0.5);
    overflow: hidden;
    transition: transform ease 0.5s;
}

.response:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.792);
    transform: translateY(-10px);
}

.api-info-container .response p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.response div {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 10px;
    align-items: center;
}

.response .type-icon {
    font-size: small;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    width: 60px;
    background-color: #00cb6f;
}
.main-section .post-span{
    width: 50px;
}

.response pre {
    margin-left: -12em;
}

.response .request-param {
    color: #8dc0ff;
}

.response .response-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.response .example-keyword {
    font-size: medium;
    font-weight: 600;
    margin: 10px;
    display: inline-block;
    text-align: center;
    color: #000000;
    border-radius: 7px;
    width: 100px;
    background-color: #ffffff;
}
.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#references{
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}





.api-info-container main {
    padding: 10px;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.api-info-container p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    font-size: 14pt;
    margin: 20px 0 20px 0;
    margin-left: 20px;
}

.api-info-container header {
    border-left: solid 10px;
    border-bottom: solid;
    padding-left: 10px;
    margin-top: 60px;
    font-weight: 700;
    color: var(--title_blue);
    font-size: 20pt;
}

#doc-title {
    display: block;
    border: none;
    margin-top: 15px;
}

.api-info-container h1 {
    font-size: 35px;
    margin: 10px;
    color: var(--title_blue);
    font-weight: 700;
}

.api-info-container ul li {
    margin-top: 0.7em;
    margin-left: 55px;
}

.api-info-container #introduction {
    margin-top: 5px;
}

.api-info-container nav {
    overflow: auto;
    position: fixed;
    width: 330px;
    background-color: rgb(227, 227, 238);
    left: 0px;
    top: 0px;
    height: 100%;
    padding-left: 10px;
    border-right: solid 2px;
    padding-bottom: 10px;
}

.api-info-container nav>ul>li {

    margin-left: -10px;
    padding-left: 25px;
    list-style-type: none;
    padding-top: 10px;
    border-top: solid 0.5px;
    margin-top: 10px;

}



.api-info-container nav>ul {

    margin-top: 30px;
    padding: 0px;
}

.api-info-container .menu {

    color: black;
    text-decoration: none;
}





/* || Spinner Styles */
.loader {
    margin: auto;
    margin-top: 5%;
    border: 10px solid #EAF0F6;
    border-radius: 50%;
    border-top: 10px solid #000000;
    width: 60px;
    height: 60px;
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





/* || Media rules */
@media screen and (min-width: 2100px) {
    .requests-main-container {
        margin-left: 27%;
    }
}

@media screen and (max-width: 1550px) {
    .requests-main-container {
        margin-left: 15%;
    }
}

@media screen and (max-width: 1400px) {
    #select-dataset-label {
        margin-left: 50px;
    }
}

@media screen and (max-width: 990px) {
    .select2-container {
        margin-left: 15%;
        width: 250px !important;
    }
}